{profiles, [
    {test, [
        {overrides, [
            {override, [
                {erl_opts, [debug_info]}
            ]}
        ]}
    ]}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{plugins, [
    erlfmt,
    pc
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -W -Wall -Wno-unused-parameter"},
    {"LDFLAGS", "$LDFLAGS -rdynamic"}
]}.

{port_specs, [
    {"priv/safeio_port", ["c_src/*.c"]}
]}.

{erlfmt, [
    write,
    {print_width, 80}
]}.
